#titulo_principal {
  background-color: #8b6f1e;
  color: lch(100% 0.01 296.81);
}
.titulo_secundario {
  background-color: #2f4f2f;
  color: lch(100% 0.01 296.81);
}

#layout {
  display: flex;
}

.rodape {
  text-align: center;
}

